<% var menuitem='news'; %>

<% include header %>

<% news.forEach( function(news){  %>
<div class="news">
    <div class="news-header">
        <h4>
            <span><%= news.title %></span>
            <span class="date"><%= news.duedate %></span>
        </h4>
    </div>
    <div class="news-body">
        <p><%= news.description %></p>
    </div>
    <div class="nav-item news-footer">
        <a class="nav-link" href="/news/mod/<%= news.id %>">Szerkeszt</a>
        <a class="nav-link" href="/news/del/<%= news.id %>">Töröl</a>
    </div>
</div>
<% })  %>

<% include footer %>